.hero {
    display: grid;
    height: 80px;
    align-items: center;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


.logo {
    width: 150px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.hero__container .nav__items {
    display: flex;
    gap: 20px;
    list-style: none;
}

.hero__container .nav__items .nav__item {
    color: var(--secondary-color-web-page);
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}     

.btn_admin {
    display: flex;
}

.btn_admin > a {
    background-color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

