.collections__web-page {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.collections__web-page_container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
}

.collections__web-page_container > .left {
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.collections__web-page_container > .right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.collections__web-page_container > .right > div {
    width: 100%;
}